/* to import poppins cdn from google font */

body{
	margin:0;
	padding:0;
	width:auto;
	background:#E1C88F;
}
*,
*::before,
*::after{
	box-sizing:border-box;
	font-family:poppins;
}

/* styling for the page wrapper starts */
div.page-wrapper{
	border:hidden;
	width:inherit;
	height:100vh;
	padding-top:20px;
}

/* styling for h3 starts */
div.page-wrapper h3{
	font-size:26px;
	font-weight:normal;
	line-height:10px;
	text-align:center;
	color:#383026;
}
/* Ends */

/* styling for the button starts */
div.page-wrapper .how-it-works{
	display:block;
	border:hidden;
	width:15%;
	margin:auto;
	font-size:20px;
	margin-top:-18px;
	padding:5px;
	background-color:#84562F;
	color:#fff;
	border-radius:10px;
	outline:none;
	transition:600ms ease-in;
}
/* Ends */

/* styling for the modal box starts */
div.modal-box{
	width:100%;
	position:absolute;
	top:0%;
	height:120vh;
	background-color:rgba(0,0,0,.8);
	transition:600ms ease;
	z-index:1;
}
/* styling for hide button starts */
div.modal-box .hide-button{
	position:absolute;
	right:2%;
	top:2%;
}
/* Ends */
div.modal-box .overlay{
	position: absolute;
	width:50%;
	height:500px;
	background:white;
	transform:translate(50%,30%);
}
.overlay .video-wrapper{
	width:100%;
	width:100%;
}
.overlay .video-wrapper video{
	width:100%;
	height:100%;
}
/* Ends */

/* Add hover effect to the Button */
div.page-wrapper .how-it-works:hover{
	background-color:#383026;
	transition:600ms ease-out;
	cursor:pointer;
}
/* Ends */

/* styling for todo wrapper starts */
div.page-wrapper .todo-wrapper{
	border:hidden;
	width:38%;
	height:600px;
	background-image:url('/asset/image/todo.jpeg');
	background-size:cover;
	margin:30px auto;
	box-shadow:3px 3px 5px #383026;
	padding-top:5px;
}
/* styling for heading starts */
div.page-wrapper .todo-wrapper h1{
	 text-align:center;
	 color:#383026;
	 text-shadow:1px 2px 2px white;
}
/* Ends */

/* styling for todo button */
div.page-wrapper .todo-wrapper .todo-button{
	display:block;
	border:hidden;
	width:58%;
	margin:auto;
	font-size:20px;
	margin-top:-18px;
	padding:5px;
	background-color:#84562F;
	color:#fff;
	border-radius:10px;
	outline:none;
	transition:600ms ease-in;
}
div.page-wrapper .todo-wrapper .todo-button:hover{
	background-color:#383026;
	transition:600ms ease-out;
	cursor:pointer;
}
div.page-wrapper .todo-wrapper .todo{
	border:hidden;
}
/* Ends */

/* styling for the message wrapper starts */
div.page-wrapper .todo-wrapper .message-wrapper{
	border:hidden;
	background-color:#6E4626;
	margin-top:10px;
	height:auto;
	display:flex;
	margin-top:10px;
	padding:3px;
	box-shadow:2px 2px 5px #E1C88F;
	position:relative;
}
/* add a box before the message wrapper */
div.page-wrapper .todo-wrapper .message-wrapper::before{
	content:'';
	border:2px solid #6E4626;
	background-color:#6E4626;
	position:absolute;
	width:16px;
	height:35px;
	left:-2%;
	top:0%;
	border-top-left-radius:6px;
	border-bottom-left-radius:8px;
}
/* styling for the checked starts */
div.page-wrapper .todo-wrapper .message-wrapper .checked{
	border:hidden;
}
div.page-wrapper .todo-wrapper .message-wrapper .checked input[type=checkbox]{
	width:100%;
	height:100%;
}
/* Ends */
/* Ends */

/* styling for the message starts */
div.page-wrapper .todo-wrapper .message-wrapper .message{
	 border:hidden;
	 width:92%;
}
div.page-wrapper .todo-wrapper .message-wrapper .message span{
	font-size:19px;
	margin-left:5px;
	color:white;
}
/* Ends */

/* styling for button wrapper */
div.page-wrapper .todo-wrapper .message-wrapper .button-wrapper{
	border:hidden;
	width:30%;
	display:flex;
}
/* Ends */

/* styling for the icon in the button wrapper */
div.page-wrapper .todo-wrapper .message-wrapper .button-wrapper img{
	width:25%;
	border:2px solid #F6F1E8;
	margin-left:5px;
	background:#F6F1E8;
	border-radius:5px;
	cursor:pointer;
}
/* Ends */

/* Ends */
